
@{
    ViewBag.Title = "InvalidCode";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3 style="text-align:center">You've been entered invalid code go back to <a href="ForgetPass">reset password</a> page</h3>

