
@{
    ViewBag.Title = "NotMatch";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<br />
<h3 style="text-align:center">sorry, this email address not matched in our website !!</h3>
<p style="text-align:center">if you wish to create an account <a href="#">check here</a></p>
<br />
<a href="ForgetPass" style="text-align:center;font-style:italic;text-decoration:none">back to previous page</a>
